/*border color -- #18bc9c   */

.jumbotron {
  background: linear-gradient(to bottom, rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.9) 100%), url('https://s-media-cache-ak0.pinimg.com/originals/ee/a1/77/eea17770629cf5b1a3c899e528c0c6bf.jpg') repeat 0 0;
}

.border_bottom {
  border-bottom: 10px solid #18bc9c;
}

.subtitle {
  font-weight: 900 !important;
  color: gray !important;
}

.about {
  padding-left: 69.9px;
  padding-right: 69.9px;
}

.portfolio {
  padding-left: 61.5px;
  padding-right: 61.5px;
}

.contact {
  padding-left: 60px;
  padding-right: 60px;
}

.main_content {
  margin-bottom: 8%;
}

#brett_photo {
  height: 200px;
}

.main_content p {
  margin-top: 2%;
  margin-left: -4%;
  line-height: 150%;
}

.footer {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to bottom, rgba(255,255,255,0.9) 50%,rgba(255,255,255,0.9) 100%), url('https://s-media-cache-ak0.pinimg.com/originals/ee/a1/77/eea17770629cf5b1a3c899e528c0c6bf.jpg') repeat 0 0;
  padding: 20px 0 10px 0;
  border-top: 5px solid #18bc9c;
}

.social_link img{
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
}

#copyright {
  color: gray;
}
