/*border color -- #18bc9c   */

/***********header************/
.jumbotron {
  background: linear-gradient(to bottom, rgba(71,100,129,.95) 0%,rgba(71,100,129,.95) 100%), url('https://s-media-cache-ak0.pinimg.com/originals/ee/a1/77/eea17770629cf5b1a3c899e528c0c6bf.jpg') repeat 0 0;
}

.border_bottom_portfolio {
  border-bottom: 10px solid #18bc9c;
}

.border_bottom_about {
  border-bottom: 10px solid #E74C3C;
}

.border_bottom_contact {
  border-bottom: 10px solid #2c3e50;
}

.title{
  color: #ffffff !important;
}

.subtitle {
  font-weight: 900 !important;
  color: #ffffff !important;
}

.directory_buttons {
  margin-bottom: -85px;
}

.about {
  padding-left: 69.9px;
  padding-right: 69.9px;
}

.portfolio {
  padding-left: 61.5px;
  padding-right: 61.5px;
}

.contact {
  padding-left: 60px;
  padding-right: 60px;
}


/*****************main content*************/
.main_content {
  margin-bottom: 8%;
}

#brett_photo {
  height: 200px;
}

.main_content p {
  margin-top: 2%;
  margin-left: -4%;
  line-height: 150%;
}

#name_field, #email_field, textarea {
  width: 355px;
}

.main_content_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact_me {
  margin-bottom: 20px;
}

textarea {
  height: 100px;
  margin-bottom: 15px;
}

.project_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project_images img{
  height: 200px;
  width: 250px;
  margin-bottom: 35px;
}

.portfolio_link {
  background-color: rgba(24,188,156, 0.4);
  color: #ffffff;
  position: absolute !important;
  margin: -80px 0 0 13px !important;
  z-index: 1;
  width: 225px;
  text-align: center;
  padding: 5px 0;
}

/*************footer************/
.footer {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to bottom, rgba(71,100,129,.95) 0%,rgba(71,100,129,.95) 100%), url('https://s-media-cache-ak0.pinimg.com/originals/ee/a1/77/eea17770629cf5b1a3c899e528c0c6bf.jpg') repeat 0 0;
  padding: 20px 0 10px 0;
}

.about_footer {
  border-top: 5px solid #E74C3C;
}

.portfolio_footer {
  border-top: 5px solid #18bc9c;
}

.contact_footer {
  border-top: 5px solid #2c3e50;
}

.social_link img{
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
}

#copyright {
  color: #ffffff;
  font-weight: 900 !important;
}
